<!DOCTYPE html>
<html>
<!-- Head -->
<head>
	<!-- Metadata -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Send SMS</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<!-- Body -->
<body>
	<center>
		<!-- Image -->
	<img src="static/images/sms.jpg">
		<br>
		<!-- SMS link in a button -->
		<a href="/sms">
	<button class="button-55" role="button">Send SMS</button>
</a>
		<br>
		<p style="font-style: italic;">Sparsh Shrestha - BTA-1016 Assignment 6</p>
	</center>
  <script src="static/script.js"></script>

<script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script> 
</body>

</html>
