<!DOCTYPE html>
<html>
<!-- Head -->
<head>
	<!-- Metadata -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Success</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<!-- Body -->
<body>
	<center>
		<!-- Displays Message -->
		<p style="font-style: bold;">The following SMS was sent successfully:<p>
		<p style="font-style: italic;">"{{ msg }}"</p>
		<p>Thank You.</p>
		<br>
		<!-- Image -->
	<img src="static/images/sent.png">
		<br>
		<!-- Return link in a button -->
		<a href="/">
	<button class="button-55" role="button">Return</button>
</a>
		<br>
		<p style="font-style: italic;">Sparsh Shrestha - BTA-1016 Assignment 6</p>
	</center>
  <script src="static/script.js"></script>

<script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script> 
</body>

</html>
